portlets/BGTVDangKiem-Message/xsd/DebitNote.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 
		GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="DebitNote">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="DebitNoteNumber" type="xs:string"></xs:element>
				<xs:element name="Organization" type="xs:string"></xs:element>
				<xs:element name="Division" type="xs:string"></xs:element>
				<xs:element name="ReportBy" type="xs:string"></xs:element>
				<xs:element name="ReportDate" type="xs:string"></xs:element>
				<xs:element name="TransactionID" type="xs:string"></xs:element>

				<xs:element name="PaymentSummary">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FromDate" type="xs:string"></xs:element>
							<xs:element name="ToDate" type="xs:string"></xs:element>
							<xs:element name="TotalOfPayment" type="xs:long"></xs:element>
							<xs:element name="TotalOfVehicle" type="xs:long"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="PaymentDetails" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SequenceNo" type="xs:long"></xs:element>
							<xs:element name="CodeNumber" type="xs:long"></xs:element>
							<xs:element name="RegisteredNumber" type="xs:string"></xs:element>
							<xs:element name="MarkAsVehicle" type="xs:int"></xs:element>
							<xs:element name="TradeMark" type="xs:string"></xs:element>
							<xs:element name="ModelType" type="xs:string"></xs:element>
							<xs:element name="VehicleType" type="xs:string"></xs:element>
							<xs:element name="EngineType" type="xs:string"></xs:element>
							<xs:element name="ProductionYear" type="xs:string"></xs:element>
							<xs:element name="ChassisNumber" type="xs:string"></xs:element>
							<xs:element name="EngineNumber" type="xs:string"></xs:element>
							<xs:element name="VehicleEngineStatus" type="xs:int"></xs:element>
							<xs:element name="DeclarationPrice" type="xs:string"></xs:element>
							<xs:element name="CurrencyCode" type="xs:string"></xs:element>
							<xs:element name="UnitPrice" type="xs:string"></xs:element>
							<xs:element name="TotalPrice" type="xs:long"></xs:element>
							<xs:element name="TotalDebit" type="xs:string"></xs:element>
							<xs:element name="PaymentDeadline" type="xs:string"></xs:element>
							<xs:element name="Charges" type="xs:long"></xs:element>
							<xs:element name="OtherCosts" type="xs:string"></xs:element>
							<xs:element name="TotalDebitNoTax" type="xs:string"></xs:element>
							<xs:element name="OtherCostsNoTax" type="xs:string"></xs:element>
							<xs:element name="TotalFee" type="xs:string"></xs:element>
							<xs:element name="TaxAmount" type="xs:string"></xs:element>
							<xs:element name="TotalAmount" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="ChargesSummary">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ChargeType" type="xs:string"></xs:element>
							<xs:element name="Remarks" type="xs:string"></xs:element>
							<xs:element name="Unit" type="xs:long"></xs:element>
							<xs:element name="Price" type="xs:long"></xs:element>
							<xs:element name="Total" type="xs:long"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="OtherCostsSummary" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SequenceNo" type="xs:long"></xs:element>
							<xs:element name="RegisteredNumberRef" type="xs:string"></xs:element>
							<xs:element name="Remarks" type="xs:string"></xs:element>
							<xs:element name="Amount" type="xs:long"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>