portlets/BGTVDangKiem-Message/xsd/FileEndorsement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="FileEndorsement">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestDate" type="xs:string"></xs:element>
				<xs:element name="Organization" type="xs:string"></xs:element>
				<xs:element name="Division" type="xs:string"></xs:element>
				<xs:element name="Name" type="xs:string"></xs:element>
				<xs:element name="ReasonForEndorsement" type="xs:string"></xs:element>
				
				<xs:element name="AttachedFile" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AttachedTypeCode" type="xs:string"></xs:element>
							<xs:element name="AttachedTypeName" type="xs:string"></xs:element>
							<xs:element name="AttachedDocName" type="xs:string"></xs:element>
							<xs:element name="AttachedNote" type="xs:string"></xs:element>
							<xs:element name="AttachedSequenceNo" type="xs:int"></xs:element>
							<xs:element name="FullFileName" type="xs:string"></xs:element>
							<xs:element name="SHA1FileContent" type="xs:string"></xs:element>
							<xs:element name="Base64FileContent" type="xs:string"></xs:element>
							<xs:element name="TechnicalSpecCode" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="ImportedVehicle" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SequenceNo" type="xs:long"></xs:element>
							<xs:element name="CodeNumber" type="xs:long"></xs:element>
							<xs:element name="ChassisNumber" type="xs:string"></xs:element>
							<xs:element name="EngineNumber" type="xs:string"></xs:element>
							<xs:element name="ProductionYear" type="xs:string"></xs:element>
							<xs:element name="VehicleEngineStatus" type="xs:int"></xs:element>
							<xs:element name="VehicleUnitPrice" type="xs:double"></xs:element>
							<xs:element name="Currency" type="xs:string"></xs:element>
							<xs:element name="VehicleColor" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>