portlets/BGTVDangKiem-Message/xsd/InquiryImportedVehicleReference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="InquiryImportedVehicleReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestDate" type="xs:string"></xs:element>
				<xs:element name="Organization" type="xs:string"></xs:element>
				<xs:element name="Division" type="xs:string"></xs:element>
				<xs:element name="Name" type="xs:string"></xs:element>
				<xs:element name="ReasonOfInquiry" type="xs:string"></xs:element>

				<xs:element name="CertificateDetails"  maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CertificateNumber" type="xs:string"></xs:element>
							<xs:element name="VehicleEngineStatus" type="xs:int"></xs:element>
							
							<xs:element name="Importer">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ImporterCode" type="xs:string"></xs:element>
										<xs:element name="ImporterName" type="xs:string"></xs:element>
										<xs:element name="ImporterAddress" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<xs:element name="TradeMark" type="xs:string"></xs:element>
							<xs:element name="ModelType" type="xs:string"></xs:element>
							
							<xs:element name="ProductionCountry">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CountryCode" type="xs:string"  maxOccurs="unbounded"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<xs:element name="ProductionYear" type="xs:string"></xs:element>
							<xs:element name="MarkAsVehicle" type="xs:int"></xs:element>
							<xs:element name="VehicleType" type="xs:string"></xs:element>
							<xs:element name="EngineType" type="xs:string"></xs:element>
							<xs:element name="ChassisNumber" type="xs:string"></xs:element>
							<xs:element name="EngineNumber" type="xs:string"></xs:element>
							
							<xs:element name="CustomDeclaration" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ImportCustomDeclareNo" type="xs:string"></xs:element>
										<xs:element name="ImportCustomDeclareDate" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>	

							<xs:element name="RegisteredNumber" type="xs:string"></xs:element>

						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>