portlets/BGTVDangKiem-Message/xsd/NoticeOfViolation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 
		GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="NoticeOfViolation">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="CertificateNumber" type="xs:string"></xs:element>
				<xs:element name="PreviousCertificateNumber" type="xs:string"></xs:element>
				<xs:element name="PreviousSignDate" type="xs:string"></xs:element>
				<xs:element name="VehicleEngineStatus" type="xs:int"></xs:element>
				
				<xs:element name="Importer">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ImporterCode" type="xs:string"></xs:element>
							<xs:element name="ImporterName" type="xs:string"></xs:element>
							<xs:element name="ImporterAddress" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
					
				<xs:element name="CodeNumber" type="xs:long"></xs:element>
				<xs:element name="TradeMark" type="xs:string"></xs:element>
				<xs:element name="ModelType" type="xs:string"></xs:element>
				<xs:element name="ModelCode" type="xs:string"></xs:element>
				
				<xs:element name="ProductionCountry">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CountryCode" type="xs:string" maxOccurs="unbounded"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="ProductionYear" type="xs:string"></xs:element>
				<xs:element name="MarkAsVehicle" type="xs:int"></xs:element>
				<xs:element name="VehicleType" type="xs:string"></xs:element>
				<xs:element name="EngineType" type="xs:string"></xs:element>
				<xs:element name="ChassisNumber" type="xs:string"></xs:element>
				<xs:element name="EngineNumber" type="xs:string"></xs:element>
				
				
				<xs:element name="CustomDeclaration" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ImportCustomDeclareNo" type="xs:string"></xs:element>
							<xs:element name="ImportCustomDeclareDate" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="RegisteredNumber" type="xs:string"></xs:element>
				<xs:element name="InspectionRecordNumber" type="xs:string"></xs:element>
				<xs:element name="InspectionRecordDate" type="xs:string"></xs:element>
				<xs:element name="InspectionSite" type="xs:string"></xs:element>
				
				<xs:element name="TestReport">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TestReportNumber" type="xs:string" maxOccurs="unbounded"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="ViolationDescription" type="xs:string"></xs:element>
				<xs:element name="DecreeNo" type="xs:string"></xs:element>
				<xs:element name="DecreeDate" type="xs:string"></xs:element>
				<xs:element name="Destination" type="xs:string"></xs:element>
				
				<xs:element name="InspectorSign">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Organization" type="xs:string"></xs:element>
							<xs:element name="Division" type="xs:string"></xs:element>
							<xs:element name="SignName" type="xs:string"></xs:element>
							<xs:element name="SignTitle" type="xs:string"></xs:element>
							<xs:element name="SignPlace" type="xs:string"></xs:element>
							<xs:element name="SignDate" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AttachedFile" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AttachedTypeCode" type="xs:string"></xs:element>
							<xs:element name="AttachedTypeName" type="xs:string"></xs:element>
							<xs:element name="AttachedDocName" type="xs:string"></xs:element>
							<xs:element name="AttachedNote" type="xs:string"></xs:element>
							<xs:element name="AttachedSequenceNo" type="xs:int"></xs:element>
							<xs:element name="FullFileName" type="xs:string"></xs:element>
							<xs:element name="FileURL" type="xs:string"></xs:element>
							<xs:element name="SHA1FileContent" type="xs:string"></xs:element>
							<xs:element name="Base64FileContent" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="ImportedVehicle" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SequenceNo" type="xs:long"></xs:element>
							<xs:element name="CodeNumber" type="xs:long"></xs:element>
							<xs:element name="MarkAsVehicle" type="xs:int"></xs:element>
							<xs:element name="ProductionYear" type="xs:string"></xs:element>
							<xs:element name="ChassisNumber" type="xs:string"></xs:element>
							<xs:element name="EngineNumber" type="xs:string"></xs:element>
							<xs:element name="VehicleEngineStatus" type="xs:int"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>