portlets/BGTVDangKiem-Message/xsd/NoticeOfCancellation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="NoticeOfCancellation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RegisteredNumber" type="xs:string"></xs:element>
				<xs:element name="CancelDate" type="xs:string"></xs:element>
				<xs:element name="Organization" type="xs:string"></xs:element>
				<xs:element name="Division" type="xs:string"></xs:element>
				<xs:element name="Name" type="xs:string"></xs:element>
				<xs:element name="Reason" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>