portlets/BGTVDangKiem-Message/xsd/RequestOfEmissionTesting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="RequestOfEmissionTesting">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="RequestTestingNumber" type="xs:string"></xs:element>
				<xs:element name="RegisteredNumber" type="xs:string"></xs:element>
				<xs:element name="InspectionRecordNumber" type="xs:string"></xs:element>
				<xs:element name="InspectionRecordDate" type="xs:string"></xs:element>
				<xs:element name="ReportTo" type="xs:string"></xs:element>
				<xs:element name="ContentOfRequest" type="xs:string"></xs:element>
				<xs:element name="TestingRegisteredPlace" type="xs:string"></xs:element>
				<xs:element name="TestingRegistration" type="xs:string"></xs:element>
				<xs:element name="TestingPayment" type="xs:string"></xs:element>
				<xs:element name="Remarks" type="xs:string"></xs:element>
				
				<xs:element name="ImportedVehicle" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="SequenceNo" type="xs:long"></xs:element>
								<xs:element name="CodeNumber" type="xs:long"></xs:element>
								<xs:element name="MarkAsVehicle" type="xs:int"></xs:element>
								<xs:element name="VehicleType" type="xs:string"></xs:element>
								<xs:element name="EngineType" type="xs:string"></xs:element>
								<xs:element name="TradeMark" type="xs:string"></xs:element>
								<xs:element name="ModelType" type="xs:string"></xs:element>
								<xs:element name="ChassisNumber" type="xs:string"></xs:element>
								<xs:element name="EngineNumber" type="xs:string"></xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					
				<xs:element name="Organization" type="xs:string"></xs:element>
				<xs:element name="Division" type="xs:string"></xs:element>
				<xs:element name="ReportBy" type="xs:string"></xs:element>
				<xs:element name="ReportDate" type="xs:string"></xs:element>
				<xs:element name="SignName" type="xs:string"></xs:element>
				<xs:element name="SignTitle" type="xs:string"></xs:element>
				<xs:element name="SignPlace" type="xs:string"></xs:element>
				<xs:element name="SignDate" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>