portlets/BGTVDangKiem-Message/xsd/SelectedGroupForPayment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 
		GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="SelectedGroupForPayment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TransactionID" type="xs:string"></xs:element>
				<xs:element name="PaymentRequestDate" type="xs:string"></xs:element>
				<xs:element name="TotalOfSelectedVehicle" type="xs:long"></xs:element>
				<xs:element name="ImportedVehicle" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SequenceNo" type="xs:long"></xs:element>
						<xs:element name="RegisteredNumber" type="xs:string"></xs:element>
						<xs:element name="InspectionRecordNumber" type="xs:string"></xs:element>
						<xs:element name="InspectionRecordDate" type="xs:string"></xs:element>
						<xs:element name="MarkAsVehicle" type="xs:int"></xs:element>
						<xs:element name="TradeMark" type="xs:string"></xs:element>
						<xs:element name="ModelType" type="xs:string"></xs:element>
						<xs:element name="TotalOfInspected" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>