portlets/BGTVDangKiem-Message/xsd/UserInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="UserInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Email" type="xs:string"></xs:element>
				<xs:element name="Password" type="xs:string"></xs:element>
				<xs:element name="UserId" type="xs:string"></xs:element>
				<xs:element name="UserName" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>