portlets/BGTVDangKiem-Message/xsd/VehicleInspectionRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 
		GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="VehicleInspectionRecord">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TechnicalSpecCode" type="xs:string"></xs:element>
				<xs:element name="CertificateRefNo" type="xs:string"></xs:element>
				<xs:element name="CertificateRefNoEdit" type="xs:string"></xs:element>
				<xs:element name="CertificateRefNoResult" type="xs:string"></xs:element>
				<xs:element name="GeneralInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Importer">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ImporterCode" type="xs:string"></xs:element>
										<xs:element name="ImporterName" type="xs:string"></xs:element>
										<xs:element name="ImporterAddress" type="xs:string"></xs:element>
										<xs:element name="Representative" type="xs:string"></xs:element>
										<xs:element name="Phone" type="xs:string"></xs:element>
										<xs:element name="Fax" type="xs:string"></xs:element>
										<xs:element name="Email" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TradeMark" type="xs:string"></xs:element>
							<xs:element name="ModelType" type="xs:string"></xs:element>
							<xs:element name="ModelCode" type="xs:string"></xs:element>
							<xs:element name="VehicleType" type="xs:string"></xs:element>
							<xs:element name="EngineType" type="xs:string"></xs:element>
							<xs:element name="Manufacturer" type="xs:string"></xs:element>
							<xs:element name="AddressProductionPlant" type="xs:string"></xs:element>
							<xs:element name="ProductionCountry">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CountryCode" type="xs:string" maxOccurs="unbounded"></xs:element>
										<xs:element name="CountryCodeEdit" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CountryCodeResult" type="xs:string"></xs:element>
							<xs:element name="MarkAsVehicle" type="xs:int"></xs:element>
							<xs:element name="EmissionStandard" type="xs:string"></xs:element>
							
							<xs:element name="TradeMarkEdit" type="xs:string"></xs:element>
							<xs:element name="ModelTypeEdit" type="xs:string"></xs:element>
							<xs:element name="ModelCodeEdit" type="xs:string"></xs:element>
							<xs:element name="VehicleTypeEdit" type="xs:string"></xs:element>
							<xs:element name="EngineTypeEdit" type="xs:string"></xs:element>
							<xs:element name="ManufacturerEdit" type="xs:string"></xs:element>
							<xs:element name="AddressProductionPlantEdit" type="xs:string"></xs:element>
							<xs:element name="EmissionStandardEdit" type="xs:string"></xs:element>
							
							<xs:element name="TradeMarkResult" type="xs:string"></xs:element>
							<xs:element name="ModelTypeResult" type="xs:string"></xs:element>
							<xs:element name="ModelCodeResult" type="xs:string"></xs:element>
							<xs:element name="VehicleTypeResult" type="xs:string"></xs:element>
							<xs:element name="EngineTypeResult" type="xs:string"></xs:element>
							<xs:element name="ManufacturerResult" type="xs:string"></xs:element>
							<xs:element name="AddressProductionPlantResult" type="xs:string"></xs:element>
							<xs:element name="EmissionStandardResult" type="xs:string"></xs:element>
							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CustomDeclaration" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ImportCustomDeclareNo" type="xs:string"></xs:element>
							<xs:element name="ImportCustomDeclareDate" type="xs:string"></xs:element>
							<xs:element name="ImportCustomDeclareNoEdit" type="xs:string"></xs:element>
							<xs:element name="ImportCustomDeclareDateEdit" type="xs:string"></xs:element>
							<xs:element name="ImportCustomDeclare" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RegisteredNumber" type="xs:string"></xs:element>
				<xs:element name="InspectionRecordNumber" type="xs:string"></xs:element>
				<xs:element name="InspectionRecordDate" type="xs:string"></xs:element>
				<xs:element name="InspectionSite" type="xs:string"></xs:element>
				
				<xs:element name="PROVINCECODE" type="xs:string"></xs:element>
				<xs:element name="PROVINCENAME" type="xs:string"></xs:element>
				<xs:element name="CORPORATIONNAME" type="xs:string"></xs:element>
				
				<xs:element name="InspectionAttendee" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AttendeeID" type="xs:long"></xs:element>
							<xs:element name="AttendeeName" type="xs:string"></xs:element>
							<xs:element name="AttendeeRole" type="xs:long"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="InspectorSign">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Organization" type="xs:string"></xs:element>
							<xs:element name="Division" type="xs:string"></xs:element>
							<xs:element name="SignName" type="xs:string"></xs:element>
							<xs:element name="SignTitle" type="xs:string"></xs:element>
							<xs:element name="SignPlace" type="xs:string"></xs:element>
							<xs:element name="SignDate" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
	
				<xs:element name="INSPECTIONDATEFROM" type="xs:string"></xs:element>
				<xs:element name="INSPECTIONDATETO" type="xs:string"></xs:element>
				<xs:element name="INSPECTIONMODE" type="xs:int"></xs:element>
				<xs:element name="INSPECTIONMODENAME" type="xs:string"></xs:element>
				<xs:element name="DESCRIPTION" type="xs:string"></xs:element>
				<xs:element name="REMARKS" type="xs:string"></xs:element>
				<xs:element name="CONFIRMEDRESULT" type="xs:int"></xs:element>
				<xs:element name="MARKUPSAFETEST" type="xs:int"></xs:element>
				<xs:element name="MARKUPEMISSIONTEST" type="xs:int"></xs:element>
				<xs:element name="MARKUPCONTROL" type="xs:int"></xs:element>
				<xs:element name="SIGNNAME" type="xs:string"></xs:element>
				<xs:element name="SIGNTITLE" type="xs:string"></xs:element>
				<xs:element name="SIGNPLACE" type="xs:string"></xs:element>
				<xs:element name="SIGNDATE" type="xs:string"></xs:element>
				
				<xs:element name="InspectionCommonStatus" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="VEHICLECLASS" type="xs:string"></xs:element>
							<xs:element name="SEQUENCENO" type="xs:long"></xs:element>
							<xs:element name="TYPE" type="xs:int"></xs:element>
							<xs:element name="GROUPNAME" type="xs:string"></xs:element>
							<xs:element name="ITEMNAME" type="xs:string"></xs:element>
							<xs:element name="COMMONSTATUS" type="xs:int"></xs:element>
							<xs:element name="COMMONRESULT" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="SafetyTestReport" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SafetyTestReportNumber" type="xs:string"></xs:element>
							<xs:element name="SafetyTestReportDate" type="xs:string"></xs:element>
							<xs:element name="SafetyTestReportNumberEdit" type="xs:string"></xs:element>
							<xs:element name="SafetyTestReportDateEdit" type="xs:string"></xs:element>
							<xs:element name="SafetyTestReportResult" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="EmissionTestReport" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EmissionTestReportNumber" type="xs:string"></xs:element>
							<xs:element name="EmissionTestReportDate" type="xs:string"></xs:element>
							<xs:element name="EmissionTestReportNumberEdit" type="xs:string"></xs:element>
							<xs:element name="EmissionTestReportDateEdit" type="xs:string"></xs:element>
							<xs:element name="EmissionTestReportResult" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="COPReport" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="COPReportNumber" type="xs:string"></xs:element>
							<xs:element name="COPTestReportDate" type="xs:string"></xs:element>
							<xs:element name="COPReportNumberEdit" type="xs:string"></xs:element>
							<xs:element name="COPTestReportDateEdit" type="xs:string"></xs:element>
							<xs:element name="COPReportResult" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SpecificationList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SpecItem" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SpecificationCode" type="xs:string"></xs:element>
										<xs:element name="SpecificationName" type="xs:string"></xs:element>
										<xs:element name="DeclarationValue1" type="xs:string"></xs:element>
										<xs:element name="DeclarationValue2" type="xs:string"></xs:element>
										<xs:element name="DeclarationValue3" type="xs:string"></xs:element>
										<xs:element name="DeclarationValue4" type="xs:string"></xs:element>
										<xs:element name="DeclarationValue5" type="xs:string"></xs:element>
										<xs:element name="DeclarationValue6" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AttachedFile" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AttachedTypeCode" type="xs:string"></xs:element>
							<xs:element name="AttachedTypeName" type="xs:string"></xs:element>
							<xs:element name="AttachedDocName" type="xs:string"></xs:element>
							<xs:element name="AttachedNote" type="xs:string"></xs:element>
							<xs:element name="AttachedSequenceNo" type="xs:int"></xs:element>
							<xs:element name="FullFileName" type="xs:string"></xs:element>
							<xs:element name="SHA1FileContent" type="xs:string"></xs:element>
							<xs:element name="Base64FileContent" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ImportedVehicle" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SequenceNo" type="xs:long"></xs:element>
							<xs:element name="CodeNumber" type="xs:long"></xs:element>
							<xs:element name="ChassisNumber" type="xs:string"></xs:element>
							<xs:element name="ChassisNumberInitial" type="xs:string"></xs:element>
							<xs:element name="EngineNumber" type="xs:string"></xs:element>
							<xs:element name="ProductionYear" type="xs:string"></xs:element>
							<xs:element name="VehicleEngineStatus" type="xs:int"></xs:element>
							<xs:element name="EngineNumberInitial" type="xs:string"></xs:element>
							<xs:element name="ProductionYearInitial" type="xs:string"></xs:element>
							<xs:element name="VehicleEngineStatusInitial" type="xs:int"></xs:element>
							<xs:element name="VehicleUnitPrice" type="xs:string"></xs:element>
							<xs:element name="Currency" type="xs:string"></xs:element>
							<xs:element name="VehicleColor" type="xs:string"></xs:element>
							<xs:element name="VehicleColorInitial" type="xs:string"></xs:element>
							<xs:element name="MarkAsSampleVehicle" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>